PROD_ GHL_Lead_Tagging_and_Routing.json
{
  "name": "PROD: GHL Lead Tagging & Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/crm/lead-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "7ff74ae3-6cd8-4e14-8059-9a3285938845",
      "name": "[Trigger] New Lead Inbound",
      "webhookId": "d65262b6-cebd-4e52-a284-284a498f8b4c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Budget }}",
                    "rightValue": 5000,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "4b96885d-5360-4ebc-b75e-70748574c6eb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22614868-242f-4a06-9702-c0329fecfae9",
                    "leftValue": "={{ $json.body.Budget }}",
                    "rightValue": 5000,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        0
      ],
      "id": "c6844f90-700c-49e7-a860-0c478df9561f",
      "name": "[Filter] Budget Qualification (>$5k)"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-23535254-f519-4bf2-ac7a-9484a5de071d"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -96
      ],
      "id": "46cffde4-5cbe-4531-9ede-adcf484116b6",
      "name": "[GET] Fetch Contact Metadata",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1f00da0-84da-4632-a95a-7a243a40bcc8",
              "leftValue": "={{ $json.contact.tags.join(',') }}",
              "rightValue": "vip-lead",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -96
      ],
      "id": "2e13b70e-2e8e-4fe3-90bf-6e64e7ccdff1",
      "name": "[Logic] Idempotency: Tag Check"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-23535254-f519-4bf2-ac7a-9484a5de071d"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=tags",
              "value": "=[\"VIP-Lead\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -176
      ],
      "id": "d3c6594a-a13e-4591-9bd0-3e07ba1c1b94",
      "name": "[PUT] Update Contact: Add VIP Tag",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AKYJMF4DS",
          "mode": "list",
          "cachedResultName": "standard-leads"
        },
        "text": "=Existing Lead Detected: {{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"full_name\"] }} ({{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"email\"] }}) already has the VIP-Lead tag. No changes made.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        656,
        -16
      ],
      "id": "e3b3a5d5-30e4-4d9d-ac5a-f94837fa461e",
      "name": "[Slack] Notify: Duplicate Entry",
      "webhookId": "ab22112b-cf55-4db0-9b56-cb144e5ed32b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lugfJJ1T4bW5S2ph",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AL7U76XDF",
          "mode": "list",
          "cachedResultName": "vip-leads"
        },
        "text": "=New VIP Lead Tagged! {{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"full_name\"] }} met the budget criteria (${{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"Budget\"] }}) and has been successfully tagged in HighLevel.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1008,
        -208
      ],
      "id": "a578eed4-4a4a-49c9-964d-9325ad73fc34",
      "name": "[Slack] Notify: VIP Provisioned",
      "webhookId": "cbfd454e-09ac-4af5-b979-77b6c0f42d48",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lugfJJ1T4bW5S2ph",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AKYJMF4DS",
          "mode": "list",
          "cachedResultName": "standard-leads"
        },
        "text": "=*Low Budget Lead Logged* *Name:* {{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"full_name\"] }} *Email:* {{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"email\"] }} *Budget:* ${{ $node[\"[Trigger] New Lead Inbound\"].json[\"body\"][\"Budget\"] }} *System Action:* Lead filtered out. HighLevel tagging skipped.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        288,
        112
      ],
      "id": "8b449eeb-62ba-44fd-a1a7-2da47668b6c5",
      "name": "[Slack] Notify: Standard Lead Filtered",
      "webhookId": "d7fc0795-33cd-4b2c-b63e-4a1f6f3f4388",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lugfJJ1T4bW5S2ph",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d4305f8-61f8-4bbb-a450-c3686aa62d01",
              "leftValue": "={{ $json.contact.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -112
      ],
      "id": "932e239f-2654-49aa-aece-018701a07d2d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "da5b3e6d-5bd3-49ab-b1e5-4449af385a60",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ALXS8UKEC",
          "mode": "list",
          "cachedResultName": "workflow-failure"
        },
        "text": "=Workflow Failure: {{ $workflow.name }} \n Error: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        864,
        192
      ],
      "id": "146ff320-1e31-4ef2-ad13-2ebdfa074804",
      "name": "[Slack] Technical Alert: Workflow Failure",
      "webhookId": "acf51620-fc8f-43e5-9231-4d1921c214a1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lugfJJ1T4bW5S2ph",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ALXS8UKEC",
          "mode": "list",
          "cachedResultName": "workflow-failure"
        },
        "text": "=GHL Sync Failure Status: Lead qualified as VIP, but automated tagging failed. Contact ID: {{ $node[\"[GET] Fetch Contact Metadata\"].json[\"contact\"][\"id\"] }} Action: Please manually add the vip-lead tag in GoHighLevel immediately.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1008,
        -16
      ],
      "id": "6148d564-c6d1-4a12-b547-22d6ac4c94bf",
      "name": "[Slack] CRITICAL: Manual Action Required",
      "webhookId": "5c789fcd-8672-4186-a1a9-47e28fcb1886",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lugfJJ1T4bW5S2ph",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "[Trigger] New Lead Inbound": {
      "main": [
        [
          {
            "node": "[Filter] Budget Qualification (>$5k)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Filter] Budget Qualification (>$5k)": {
      "main": [
        [
          {
            "node": "[GET] Fetch Contact Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Slack] Notify: Standard Lead Filtered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Fetch Contact Metadata": {
      "main": [
        [
          {
            "node": "[Logic] Idempotency: Tag Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Logic] Idempotency: Tag Check": {
      "main": [
        [
          {
            "node": "[PUT] Update Contact: Add VIP Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Slack] Notify: Duplicate Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[PUT] Update Contact: Add VIP Tag": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "[Slack] Notify: VIP Provisioned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Slack] CRITICAL: Manual Action Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Slack] Notify: VIP Provisioned": {
      "main": [
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "[Slack] Technical Alert: Workflow Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1b30930a-36bc-4731-93c9-8805d122c363",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f06a8e89045016622492f7d731f5dafe3e466c3f5d908203816ebeaaa26a9513"
  },
  "id": "U3LKdB6kKDdinA07",
  "tags": [
    {
      "updatedAt": "2026-03-11T01:56:54.912Z",
      "createdAt": "2026-03-11T01:56:54.912Z",
      "id": "LckYEprnQ3CE2IQJ",
      "name": "Lead-Scoring"
    },
    {
      "updatedAt": "2026-03-11T01:57:11.650Z",
      "createdAt": "2026-03-11T01:57:11.650Z",
      "id": "SbbghSCiTvPlg9IV",
      "name": "Production"
    },
    {
      "updatedAt": "2026-03-11T01:56:28.091Z",
      "createdAt": "2026-03-11T01:56:28.091Z",
      "id": "sPTzcxIN8cu99M05",
      "name": "HighLevel-API-V2"
    },
    {
      "updatedAt": "2026-03-11T01:57:02.128Z",
      "createdAt": "2026-03-11T01:57:02.128Z",
      "id": "sRLvpjRK8baX6R9I",
      "name": "Error-Handled"
    }
  ]
}